/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
  color: rgb(49, 49, 182);
  text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;

.min-h-screen {
  display: grid;
}

main {
  display: grid;
  align-items: center;
}

.container {
  max-width: 1500px;
}

@media only screen and (max-width: 600px) {
  .picture-column {
    grid-area: picture-column;
  }

  .text-column {
    grid-area: text-column;
  }
  .intro-row {
    grid-template-areas:
      "picture-column"
      "text-column";
  }
}
